body { 
	background: #101010;
	background-size: cover;
	background-position: center bottom;
	font-family: 'Noto Sans', Arial;
}

.wrapper { width:100%; } /* Overriden by Media Queries */

.column2 { width:50%; float:left; }
	.column2pad { width:46%; margin:0 2%; float:left; }
.column3 { width:33%; float:left; }
	.column3pad { width: 29%; margin:0 2%; float:left; }
.column4 { width:25%; float:left; }
	.column4pad { width: 21%; margin:0 2%; float:left; }

a:link, a:visited { 
	color: #2679ff; 
	text-decoration: none; 
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
a:hover { color:#ffffff; }

p, ul, h1, h2, h3, h4 {
	margin:0.3em 0;
}
