/******************
Main
******************/

html {
	height:100%;
}

body { 
	/*background: url('../img/lightning-1920.jpg') #050505;*/
	/*background: url(http://placekitten.com/1920/1080);*/
	background: #101010;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	font-family: 'Noto Sans', Arial;
	padding-top:75px;
}

.wrapper { width:100%; margin:0 auto; } /* Overriden by Media Queries */

.column2 { width:50%; float:left; }
	.column2pad { width:46%; margin:0 2%; float:left; }
.column3 { width:33%; float:left; }
	.column3pad { width: 29%; margin:0 2%; float:left; }
.column4 { width:25%; float:left; }
	.column4pad { width: 21%; margin:0 2%; float:left; }

a:link, a:visited { 
	color: #68A6D6; 
	text-decoration: none; 
	transition: all 0.1s ease;
}
a:hover { color:#ffffff; }

p, ul, h1, h2, h3, h4 {
	margin:0.8em 0;
}

.column2 {
	width: 46%;
	margin:0 2%;
	float:left;
}

a.actionbutton, .normform input.submit {
	background: #2679FF;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), 0px 2px 3px black;
	border-radius: 2px;
	border:0;
	width: 150px;
	padding: 10px;
	margin: 20px 10px;
	display: inline-block;
	text-align: center;
	font-size: 0.9em;
	text-shadow: 0px -1px 1px #024DC5;
	position: relative;
	top: 0;
	transition: all 0.2s ease;
	color:white;
	line-height:1.3em;
	float:left;
}

a.actionbutton:hover, .normform input.submit:hover {
	background: #C48C00;
	top: -2px;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), 0px 3px 6px black;
	text-shadow: 0px -1px 1px #725100;
}

a.actionbutton:active, .normform input.submit:active {
	top: 2px;
}


/******************
Header
******************/

#pagetop {
	background: #2679FF;
	height:75px;
	color:white;
	position:fixed;
	top:0;
	width:100%;
}

#pagetop h1 {
	font-weight:normal;
	font-size:32px;
	line-height:75px;
	float:left;
	margin:0;
}

#pagetop .sitelogo {
	float:left;
	margin:7px 10px 8px 0;
}

#pagetop ul {
	list-style: none;
	float:right;
	margin:0;
}

#pagetop li {
	float: left;
}

#pagetop li a {
	display: block;
	padding: 0 15px;
	margin: 0;
	color:#D0E2FF;
	line-height:75px;
	transition: 0.2s all ease;
}

#pagetop li.current a {
	color:white;
}

#pagetop li a:hover {
	text-decoration: none;
	background:#003EA2;
}

.sitelogo {
	-webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: 	ease;
}

@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg); }
	10% {  -webkit-transform: rotate(360deg); }
	100% {  -webkit-transform: rotate(360deg); }
}

/******************
Main Content Area
******************/

.section-content {
	background: rgba(0,0,0,0.7);
	padding: 75px 50px;
	color:white;
	width: 1000px;
	margin:0 auto;
	transition: 0.2s all ease;
}

.section-content:hover {
	background: rgba(0,0,0,0.8);
}

h1.mega-title {
	font-size:48px;
	color:#c0c0c0;
	text-align: center;
	margin-bottom:40px;
	margin-top:60px;
	font-weight: normal;
	text-shadow: 0 2px 3px black;
}

.buttonrow {
	margin: 0 auto;
	width: 384px;
}

.section-content p {
	line-height: 32px;
	color: #c0c0c0;
}

.circular-img {
	height:214px;
	width:214px;
	border-radius:107px;
	overflow: hidden;
}

/******************
Page-Specific
******************/

#home .columnA {
	width: 54%;
	margin: 0 5%;
	text-align: center;
}

#home .columnB {
	width: 32%;
	text-align: center;
}


#about .columnA {
	width: 54%;
	margin: 0 5%;
}

#about .columnB {
	width: 32%;
	text-align: center;
}

/******************
Contact Form
******************/

.normform {
	
}

.normform label {
	cursor:pointer;
	display:block;
	margin-bottom:2px;
}

.normform input, .normform textarea {
	display:block;
	width:90%;
	font-family: 'Noto Sans', Arial;
	padding:8px;
	margin-bottom: 20px;
	border:1px solid #414141;
	border-radius:3px;
	background: #2C2C2C;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
	color:#a0a0a0;
	font-size:0.8em;
}

.normform input:focus, .normform textarea:focus {
	outline:0;
	/*background: #002868;*/
	border: 1px solid #2679FF;
	color:#f0f0f0;
}

.normform textarea {
	height:120px;
}

.normform input.formsecure {
	display:none;
}

/*.normform input.submit {
	cursor: pointer;
	background: #00113C; /* Overridden * /
	color:white;
	padding:8px;
	border:0;
	border-radius:3px;
	position:relative;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all  0.1s ease;
	width:150px;
}

.normform input.submit:hover {
	background: #2e3b5e; /* Overridden * /
	top:-3px;
}

.normform input.submit:active {
	top:3px;
}*/

.normform input.submit {
	margin-left:0;
	margin-right:0;
}

.form-error {
	display:none;
	clear:left;
	padding:10px;
	padding-left: 42px;
	background: url(../img/warning.svg) no-repeat 5px center #fff4a8;
	background-size: 28px;
	margin-bottom:20px;
	max-width:300px;
	color:#202020;
	border-radius:3px;
}

.form-success {
	color:#202020;
	border:1px solid #0f0;
	clear:left;
	padding:10px;
	padding-left: 42px;
	background: url(../img/accepted.svg) no-repeat 5px center #c1ffc1;
	background-size: 28px;
	margin-bottom:20px;
	max-width:300px;
}

.normform .input-error {
	border: 1px solid #C48C00;
}


/******************
Misc
******************/

/* Float Clearfix
from H5BP */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


@media only screen and (min-width:1200px) {
	.wrapper { width:1200px; }
}

@media only screen and (min-width:768px) {
	.wrapper { width:90%; }
}