/******************
Main
******************/

html {
	height:100%;
}

body { 
	background: #101010;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	font-family: 'Noto Sans', Arial;
	padding-top:75px;
}

.wrapper { width:100%; margin:0 auto; } /* Overriden by Media Queries */

.column2 { width:50%; float:left; }
	.column2pad { width:46%; margin:0 2%; float:left; }
.column3 { width:33%; float:left; }
	.column3pad { width: 29%; margin:0 2%; float:left; }
.column4 { width:25%; float:left; }
	.column4pad { width: 21%; margin:0 2%; float:left; }

a:link, a:visited { 
	color: #68A6D6; 
	text-decoration: none; 
	transition: all 0.1s ease;
}
a:hover { color:#ffffff; }

p, ul, h1, h2, h3, h4 {
	margin:0.8em 0;
}

.column2 {
	width: 46%;
	margin:0 2%;
	float:left;
}

a.actionbutton, .normform input.submit {
	background: #2679FF;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), 0px 2px 3px black;
	border-radius: 2px;
	border:0;
	width: 150px;
	padding: 10px;
	margin: 5px 10px;
	display: inline-block;
	text-align: center;
	font-size: 0.9em;
	text-shadow: 0px -1px 1px #024DC5;
	position: relative;
	top: 0;
	transition: all 0.2s ease;
	color:white;
	line-height:1.3em;
}

a.actionbutton:hover, .normform input.submit:hover {
	background: #C48C00;
	top: -2px;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), 0px 3px 6px black;
	text-shadow: 0px -1px 1px #725100;
}

a.actionbutton:active, .normform input.submit:active {
	top: 2px;
}


/******************
Header
******************/

#pagetop {
	background: #2679FF;
	height:75px;
	color:white;
	position:fixed;
	top:0;
	width:100%;
}

#pagetop h1 {
	font-weight:normal;
	font-size:32px;
	line-height:75px;
	float:left;
	margin:0;
}

#pagetop .sitelogo {
	float:left;
	margin:7px 10px 8px 0;
}

#pagetop ul {
	list-style: none;
	float:right;
	margin:0;
}

#pagetop li {
	float: left;
}

#pagetop li a {
	display: block;
	padding: 0 15px;
	margin: 0;
	color:#D0E2FF;
	line-height:75px;
	transition: 0.2s all ease;
}

#pagetop li.current a {
	color:white;
}

#pagetop li a:hover {
	text-decoration: none;
	background:#003EA2;
}

.sitelogo {
	-webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: 	ease;
}

@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg); }
	10% {  -webkit-transform: rotate(360deg); }
	100% {  -webkit-transform: rotate(360deg); }
}

/******************
Main Content Area
******************/

.section-content {
	background: rgba(0,0,0,0.7);
	padding: 75px 50px;
	color:white;
	max-width: 1000px;
	margin:0 auto;
	transition: 0.2s all ease;
}

.section-content:hover {
	background: rgba(0,0,0,0.8);
}

h1.mega-title {
	font-size:48px;
	color:#c0c0c0;
	text-align: center;
	margin-bottom:40px;
	margin-top:60px;
	font-weight: normal;
	text-shadow: 0 2px 3px black;
}

.buttonrow {
	margin: 0 auto;
}

.section-content p {
	line-height: 32px;
	color: #c0c0c0;
}

.circular-img {
	height:214px;
	width:214px;
	border-radius:107px;
	overflow: hidden;
	float:right;
}

/******************
Page-Specific
******************/

#home .columnA {
	width: 52%;
	margin: 0 5%;
	text-align: center;
	float:right;
}

#home .columnB {
	width: 28%;
	margin: 0 5%;
	text-align: right;
	float:right;
}

.portfolio-thumb {
	position: relative;
	display: inline-block;
	height:280px;
	margin-right: 3px;
}

.portfolio-thumb img {
	display: block;
}

.hover-block {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	display: table;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease;
}

.portfolio-thumb:hover .hover-block {
	opacity:1;
}

.hover-block-site-title {
	display: table-cell;
	vertical-align: middle;
}


/******************
Misc
******************/

/* Float Clearfix
from H5BP */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


@media only screen and (min-width:1200px) {
	.wrapper { width:1200px; }
}

@media only screen and (min-width:768px) {
	.wrapper { width:90%; }
}

@media only screen and (max-width:480px) {
	#pagetop h1 {
		font-size:24px;
	}
}

@media only screen and (max-width:768px) {
	h1.mega-title {
		font-size:30px;
	}
	.primarynav {
		display: none;
	}
	.section-content {
		padding: 20px 25px;
	}
	#home .columnA, #home .columnB {
		float:none;
		width:90%;
	}
	.circular-img {
		float:none;
		margin:20px auto;
	}
}